<div class="banner-solde">
  <div class="content-solde">
    <p>Solde total</p>
    <span id="money">€ XXXX.XX</span>
  </div>
</div>

<div class="collection-card">
  <div class="container">
    <div class="section">
    </div>

    <div class="section">
      <h1>Ma collection</h1>
    </div>

    <div class="section">
      <h2>Dashboard</h2>
    </div>

  <%# Faire partial %>
    <div class="section">
      <h3>Mes possessions</h3>
      <% @private_bottles.each do |batch, qty| %>
        <div class="card">
          <h4><%= batch.name %></h4>
          <h5><%= batch.domain.name %></h5>
          <p>Quantité: <%= qty %></p>
          <p><%= batch.initial_price * qty %>€</p>
        </div>
      <% end %>
    </div>

    <div class="section">
      <h3>Mes ventes</h3>
      <% @on_resale_bottles.each do |batch, qty| %>
        <div class="card">
          <h4><%= batch.name %></h4>
          <h5><%= batch.domain.name %></h5>
          <p>Quantité: <%= qty %></p>
          <p><%= batch.initial_price * qty %>€</p>
        </div>
      <% end %>
    </div>
  </div>
</div>
