<%= render 'shared/searchbar' %>
<h1>Tous les domaines</h1>
<div class="container">
    <% @domains.each do |domain| %>
     <div class="card-item">
          <img src='<%= domain.photo.attached? ? cl_image_path(domain.photo.key, width: 150, height: 150, crop: :fill) : image_path("https://m.media-amazon.com/images/I/81lHQGmXtIL._AC_UL1500_.jpg", width: 150, height: 150, crop: :fill) %>' />
        <div class="card-infos">
          <h3><%= domain.name%> <%= domain.year %></h3>
          <p><%= domain.description %></p>
        </div>
        <div class="card-details">
          <p><%= domain.description%></p>
        </div>
        <h3><div class="card-potential"></h3>
          <%= domain.popularity%>
        </div>
    <% end %>
 </div>
