<h1>Tous les domaines</h1>
<div class="container">
    <% @domains.each do |domain| %>
     <div class="card-item">
        <img src="https://picsum.photos/44/44" alt="">
        <div class="card-infos">
          <h3><%= domain.name%> <%= domain.year %></h3>
          <p><%= domain.description %></p>
        </div>
        <div class="card-details">
          <p><%= domain.description%></p>
        </div>
        <h3><div class="card-potential"></h3>
          <%= domain.popularity%>
        </div>
    <% end %>
 </div>
