<h1>Toutes les cuvées</h1>
<div class="container">
    <% @batches.each do |batch| %>
     <div class="card-item">
        <img src="https://picsum.photos/44/44" alt="">
        <div class="card-infos">
          <%= batch.name%> <%= batch.year %>
          <%= batch.domain.name %>
        </div>
        <div class="card-details">
          Stock: <%= batch.quantity%>
          Price: <%= batch.initial_price%>
        </div>
        <div class="card-potential">
          Potentiel: <%= batch.potential%>
        </div>
        </div>
    <% end %>
</div>
