<h1>Toutes les cuvées</h1>
<div class="container">
    <% @batches.each do |batch| %>
     <div class="card-item">
        <img src="https://picsum.photos/44/44" alt="">
        <div class="card-infos">
          <h3><%= batch.name%> <%= batch.year %></h3>
          <p><%= batch.domain.name %></p>
        </div>
        <div class="card-details">
          <h3>Price: <%= batch.initial_price%></h3>
          <p>Stock: <%= batch.quantity%></p>
        </div>
        <h3><div class="card-potential"></h3>
          <%= batch.potential%>
        </div>
        </div>
    <% end %>
</div>
