<%= render 'shared/searchbar' %>
<div class="bottle-banner" style= "background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(<%= cl_image_path(@domain.photo.key)%>)">
  <div class="content-domain-banner">
    <h1 class= "domain-title"><%=@batch.name%></h1>
  </div>
</div>


<div class="container">
  <div class="section">
    <div class="card-bottle-photo">
      <%= @batch.photo.attached? ? cl_image_tag(@batch.photo.key, height: 150, width: 50, crop: :fill) : image_tag("https://images.unsplash.com/photo-1520732770642-f4d947ca9653?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=815&q=80", width: 50, heigth: 50, crop: :fill) %>
      <div class="card-bottle-description">
        <div class="price-trend">
        <%# Que si domaine stock > 0 %>
          <h2> <strong>Prix:</strong> <%= @batch.current_price %>€</h2>
          <div class="domain-card-trend">
            <p><i class="fa-solid fa-arrow-trend-up"></i></p>
          </div>
        </div>
        <br>
        <p><strong>Region</strong> : <%= @batch.region %></p>
        <p><strong>Bouteilles produites : </strong> <%= @batch.quantity %></p>
        <% if @batch.available_domain_stock.positive? %>
          <p><strong>Stock</strong> : <%= @batch.available_domain_stock %> (Domaine)</p>
        <% else %>
          <p><strong>Stock</strong> : <%= @batch.available_users_stock %> (Utilisateurs)</p>
        <% end %>
        <p><strong>Année:</strong> : <%= @batch.year %></p>
        <p><strong>Potentiel : </strong> <%= @batch.potential %>/5</p>
        <p><strong>En possession :</strong> <%= @current_user_bottles %></p>
        <p class="d-none"><%=  %></p>
      </div>
    </div>
    <div class="card-bottle-description">
      <p><strong>Description : </strong><br><%= @batch.description %></p>
    </div>
  </div>

  <div class="trade-button" data-controller= "collapse">
    <div style="width:50%;">
      <% if @batch.available? %>
        <div class="button-trade">
          <button class="btn-mauve" data-action="click->collapse#openb">
            Acheter
          </button>
        </div>

        <div class="opened-buy-tab" data-collapse-target="buyopen">
          <div class="card-form card-body">
            <div data-controller="max-quantity" data-max-quantity-domain-value="<%= @batch.available_domain_stock %>" data-max-quantity-users-value="<%= @batch.available_users_stock %>">
              <%= simple_form_for([@batch, @transaction]) do |f| %>
                <%= f.input :quantity, input_html: { data: { max_quantity_target: :input,  action: "keyup->max-quantity#available"} } %>
                  <div class="flash flash-danger alert-dismissible fade show d-none" role="alert" data-max-quantity-target="alert">
                    <span>Pas assez de stock !</span>
                  </div>

                <div class="btn btn-mauve" style="padding: 0px 3px;" role="button" data-disable-button-target="button">
                  <%= f.button :submit, "Soumettre", input_html: { data: { disable_button_target: "button", action: "input->disable-button#disable"} } %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <div style="width:50%;">
      <% if current_user.can_sell_from_batch?(@batch) %>
        <div class="button-trade">
          <button class="btn-jaune" data-action="click->collapse#opens">
            Vendre
          </button>
        </div>

        <div class="opened-sell-tab" data-collapse-target="sellopen">
          <div class="card-form card-body">
            <div data-controller="max-quantity" data-max-quantity-user-value="<%= @current_user_bottles %>">
              <%= simple_form_for(@batch ,method: :post, url: batch_resale_path(@batch)) do |f| %>
                <%= f.input :quantity, input_html: { data: { max_quantity_target: :sale,  action: "keyup->max-quantity#stock"} } %>
                  <div class="flash flash-danger alert-dismissible fade show d-none" role="alert" data-max-quantity-target="alert">
                    <span>Pas assez de stock !</span>
                  </div>

                <div class="btn btn-jaune" style="padding: 0px 3px;" role="button" data-disable-button-target="button">
                  <%= f.button :submit, "Soumettre", input_html: { data: { disable_button_target: "button", action: "input->disable-button#disable"} } %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>


  <div class= "section">
    <%= line_chart @batch.bottles.group_by_month(:created_at).count, colors: ["#8F2D56"]%>
  </div>
</div>
