<%= render 'shared/searchbar' %>
<div class="bottle-banner" style= "background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(<%= cl_image_path(@domain.photo.key)%>)">
  <div class="content-domain-banner">
    <h1 class= "domain-title"><%=@batch.name%></h1>
    <h1 class= "domain-title"><%= @batch.region %> (<%= @batch.year %>)</h1>
    <div class= "btn-in-list">
      <a class= "btn-mauve" href="#">Acheter</a>
    </div>
  </div>
</div>


<div class="container">
  <div class="card-bottle-element">
    <div class="card-bottle-photo">
      <%= @batch.photo.attached? ? cl_image_tag(@batch.photo.key, height: 150, width: 50, crop: :fill) : image_tag("https://images.unsplash.com/photo-1520732770642-f4d947ca9653?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=815&q=80", width: 50, heigth: 50, crop: :fill) %>
    </div>
    <div class="card-bottle-description">
      <h3><%= truncate(@batch.name, length: 40)%> (<%= @batch.year %>)</h3>
      <p><%= @batch.description %></p>
    </div>
  </div
  >
  <div class="card-bottle-element">
    <div class="card-bottle-description">
      <h3>Stock initial: <%= @batch.quantity %></p>
      <h3>Stock actuel: <%= @batch.available_stock %></p>
      <h3>Prix: <%= @batch.initial_price %>€</p>
      <h3>Potentiel: <%= @batch.potential %>/5</p>
     </div>

    <% if @batch.quantity.nil? %>
      <button>
        <%= link_to 'Vendre', "#"  %>
      </button>
    <% else %>
      <button>
        <%= link_to 'Acheter', new_batch_transaction_path(@batch) %>
      </button>
    <% end %>
  </div>
</div>
